<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="../css/home.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Sansita|Cabin+Sketch" rel="stylesheet">
	</head>
	<body>
		<div id="container">
			<div id="subscribe">
				<p id="close">&times;</p>
				<div class="straighten">

				<label>Receive the latest recipes by subscribing now!<input id="useremail" placeholder="Enter E-Mail Address" type="email"></input></label><button type="button" id="emailbtn">Subscribe</button>
				</div>
			</div>
<!--###############[ Subscription ]#####################-->
			<div id="welcome">
				<div id="hlogo"><img src="../images/Martin-Berube-Flat-Animal-Chicken.ico"></div>
				<div id="chikadee"><h1>Chik-A-Dee</h1></div>
				<h2>Create delicious meals for a party of 1, 2 or the whole family!</h2>
					<div id="contents">
						<div id="au" class="trio"><a href="/contact"><p>About Us</p></a></div>
						<div id="mp" class="trio"><a href="/mealplan"><p>Meal Plan</p></a></div>
						<div id="rec" class="trio"><a href="/recipe"><p>Recipes</p></a></div>
					</div>
				</div>
			<div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="../js/recipe.js"></script>
	</body>
</html>
