<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/meal_plans.css">
<link rel="icon" href="tab.png">
<head>
	<title>Meal Plans!</title>
</head>
<body>
<video preload="none" autoplay loop muted><source src="farm.mp4" type="video/mp4"></video>
<div class="subscribe">
	<p>Subscribe to our mailing system for great promos, recipes, and gifts!</p>
		<form class="email">
			<input type="text">
			<button id="buttonemail">Submit</button>
		</form>
</div>
<div class="navigation">
	<img src="chicken-icon.png" id="icon">
	<button id="home" class="nav">Home</button>
	<a href="/mealplans"><button id="plans" class="nav">Meal Plans</button></a>
	<button id="recipes" class="nav">Recipes</button>
	<a href="/contact"><button id="contact" class="nav" >Contact Us!</button></a>
	<button id="login" >Login</button>
</div>
<h2>Meal Plans</h2>
<h4>Delicious ingredients and recipes to show you what to do with them!</h4>
</div>
	<div class="plan1">
		<img src="meat.jpg">
		<br>
		<h5>Meat Lover's Plan</h5>
		<p>Our Meat Lover's Plan is built for individuals that enjoy to supplement their healthy diets with quality meats. All our products are USDA approved and our animals are raised in open fields on vegetarian diets. This coupled with quality greens and adventurious recipes from around the world will be sure to have anyone excited for dinner.</p>
		<br>
		<button>Learn more!</button>
	</div>
	<div class="plan2">
		<img src="veggies.jpg">
		<br>
		<h5>Veggie Lover's Plan</h5>
		<p>Our Veggie Lover's Plan incorporates fresh and exotic fruits and vegatbles, as well as, some nuts from around the world. These greens are grown GMO free and hand picked through a very selective process that ensures that only the very best nutrients make their way to your dinner table. While some of these ingredients may seem a bit foreign and even intimidating to work with our buyers need not be scared because we send every meal plan with recipes ranging from beginner to expert levels to ensure you know how to tackle these challenges and grow in the process!</p>
		<br>
		<button>Learn more!</button>
	</div>
	<div class="plan3">
		<img src="family.jpg">
		<br>
		<h5>Family Plan</h5>
		<p>Every parent wants the best for their family. But between researching recipes, buying healthy ingredients, and cooking ,making that a reality can seem like a bit of an uphill battle. But thankful we are taking care of that for you. And while most may assume that this will end up costing a fortune with plans starting at $8 a meal its hard to say no!</p>
		<br>
		<button>Learn more!</button>
	</div>
</body>
</html>
